<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>to do list testing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <h1>insert task</h1>
    task: <input type="text" id="content">
    state: <input type="text" id="state">
    <button type="button" onclick="taskInsert()">insert</button>
    <hr>

    <h1>task lists</h1>
    <div>
      <ul id="taskList">
      </ul>
    </div>


    <script type="text/javascript">
      $(function(){
        $.ajax({
          type: 'GET',
          url: '/api/v1.0/todo',
          success: function(data,status){
            for (var i = 0; i < data['todo'].length; i++) {
              var taskId = data['todo'][i]['id'];
              var taskContent = data['todo'][i]['content'];
              var taskState = data['todo'][i]['state'];
              var item = '<li>'+
                  'task: <input type="text" id="content-'+taskId+
                  '" value="'+taskContent+'">'+
                  'state: <input type="text" id="state-'+taskId+
                  '" value="'+taskState+'">'+
                  '<button type="button" onclick="taskUpdate('+taskId+
                  ')">update</button>'+
                  '<button type="button" onclick="taskDelete('+taskId+
                  ')">delete</button>'+
                  '</li>';
              $('#taskList').append(item);
            }
          }
        });
      });

      function taskUpdate(id){
        var content = $('#content-'+id).val();
        var state = $('#state-'+id).val();
        $.ajax({
          type: 'PUT',
          url: '/api/v1.0/todo/'+id,
          data:{
            'content': content,
            'state': state
          },
          success:function(data,status){alert(status);location.reload();},
          error:function(data,status){alert(status);}
        });
      }

      function taskDelete(id){
        $.ajax({
          type: 'DELETE',
          url: '/api/v1.0/todo/'+id,
          statusCode: {
            204: function(){
              alert('delete');location.reload();
            }
          },
          error:function(data,status){alert(status);}
        });
      }

      function taskInsert(){
        var content = $('#content').val();
        var state = $('#state').val();
        $.ajax({
          type: 'POST',
          url: '/api/v1.0/todo',
          data:{
            'content': content,
            'state': state
          },
          success:function(data,status){alert(status);location.reload();},
          error:function(data,status){alert(status);}
        });
      }
    </script>
  </body>


</html>
