<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>测试网站</title>
  </head>
  <body>
    <h1>本网站用于测试 (testing only)</h1>
    <h2>可在 <a href="https://github.com/PengShaw/flask_restful_api_todo">Github</a> 上查看网站源码</h2>

    <p>
      <button type="button" name="button"><a href="/login">登录</a></button>
      <button type="button" name="button"><a href="/register">注册</a></button>
      <button type="button" name="button"><a href="/logout">登出</a></button>
    </p>
    <p>
      <button type="button" name="button"><a href="/main">主页面</a></button>
    </p>
  </body>
</html>
